@import "~antd/dist/antd.css";
* {
  font-family: "Acme", sans-serif, "Roboto", sans-serif, "Road Rage", cursive;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
}

code {
  font-family: "Montserrat", source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}

.example {
  margin: 20px 0;
  margin-bottom: 20px;
  padding: 30px 50px;
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 20px;
}
.container {
  background: #b5f5ec;
}
.ant-row {
  margin-bottom: 10px;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.textCarusel {
  padding-top: 15px;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  font-weight: bolder;
}
.textCarusel p {
  size: 1px;
  text-align: center;
  font-family: "Roboto", "Press Start 2P", cursive, "Roboto", sans-serif;
  color: rgb(255, 255, 255);
  border-radius: 2px;
  border: black;
  -webkit-text-stroke: 0.5px rgba(0, 0, 0, 0.4);
  -webkit-text-fill-color: white;
}
.textCarusel:hover {
  opacity: 1;
}
.col-12 {
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.carousel {
  width: 400px;
  margin-bottom: 5px;
}
.carousel:hover {
  filter: brightness(75%);
}

.body {
  background: #e6fffb;
}
.top {
  background: blue;
}
.Navbar {
  background-color: #007365;
}

.search input {
  font-family: "Rubik Beastly", cursive, "Roboto", sans-serif;
}

.ant-result-title {
  font-family: "Press Start 2P", cursive, "Roboto", sans-serif;
}



.row {
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
  justify-content: center;
  flex-direction: row;
  align-content: center;
}

.authentication .container {
  background: none;
}

.buttonCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonCard svg {
  display: flex;
  justify-content: space-between;
}

.ant-pagination {
  display: flex;
  justify-content: center;
}
.ant-pagination svg {
  display: flex;
  justify-content: center;
}
.container .card {
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
}
.card-body {
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
}

.mainMenu {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
}

.mainMenuCard .row {
  justify-content: flex-start;
  margin-left: 10px;
}
